<div class="card">
  <img class="card-img-top" src="{{cover}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="/books/{{_id}}/details">
        {{title}}
      </a>
    </h5>
    <p class="card-text">
      <span class="">{{author}}</span> |
      <span class="small">{{releaseYear}}</span>
    </p>
  </div>
  {{#each formats}}
    <div class="card-footer">
      <small class="text-muted bold">
        <em>{{format}}</em>
        <strong>${{price}}</strong> USD
      </small>
    </div>
  {{/each}}
</div>
