<div class="card">
  <img class="card-img-top" src="{{cover}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="/magazines/{{_id}}/details">
        {{title}}
      </a>
    </h5>
    <p class="card-text">
      <span>{{edition}}</span> |
      <span class="small"><strong>Lang:</strong> {{language}}</span>
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted bold">
      <strong>${{price}}</strong> USD
    </small>
  </div>
</div>
