<h2>Add new book</h2>

<form action="/books" method="POST">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" placeholder="Book's Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="cover" class="col-sm-2 col-form-label">Cover</label>
    <div class="col-sm-10">
      <input type="text" name="cover" class="form-control" id="cover" placeholder="Image URL">
    </div>
  </div>
  <div class="form-group row">
    <label for="author" class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input type="text" name="author" class="form-control" id="author" placeholder="Author's Full Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="synopsis" class="col-sm-2 col-form-label">Synopsis</label>
    <div class="col-sm-10">
      <textarea name="synopsis" class="form-control" id="synopsis" placeholder="Full description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="genre" class="col-sm-2 col-form-label">Genre</label>
    <div class="col-sm-10">
      <input type="text" name="genre" class="form-control" id="genre" placeholder="Genre or Category">
    </div>
  </div>
  <div class="form-group row">
    <label for="language" class="col-sm-2 col-form-label">Language</label>
    <div class="col-sm-10">
      <input type="text" name="language" class="form-control" id="language" placeholder="Written language">
    </div>
  </div>
  <div class="form-group row">
    <label for="releaseYear" class="col-sm-2 col-form-label">Release Year</label>
    <div class="col-sm-10">
      <input type="number" name="releaseYear" class="form-control" id="releaseYear" placeholder="Year or publication">
    </div>
  </div>
  <div class="form-group row">
    <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
    <div class="col-sm-10">
      <input type="text" name="isbn" class="form-control" id="isbn" placeholder="ISBN-12 (12 digits)">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit book</button>
    </div>
  </div>
</form>
