<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/books" class="list-group-item list-group-item-action active">
        All
      </a>
      {{#each genres}}
        <a href="/books/?genre={{this.genre}}" class="list-group-item list-group-item-action">
          {{this.genre}}
        </a>
      {{/each}}
      <br />
      <a href="/books/add"class="btn btn-outline-primary">New Book</a>
    </div>
  </div>

  <div class="col-9">
    <div class="card-columns">
      {{#each books}}
        {{> bookitem this}}
      {{/each}}
    </div>
  </div>
</div>
