{{#with book}}
<div class="row">
  <div class="col-2">
    <img src="{{cover}}" class="img-fluid" alt="cover">
  </div>

  <div class="col-10">
    <h2>{{title}} <span class="text-muted">({{language}}) - {{releaseYear}}</span></h2>
    <p class="small">
      por
      <a href="/books?author={{author}}">{{author}}</a>
      <span class="text-muted">
        (Autor)
      </span>
      en
      <a href="/books?genre={{genre}}">{{genre}}</a>
    </p>

    <hr />

    <div class="card-deck">
      {{#each formats}}
        <div class="card border-dark mb-3 small" style="max-width: 13rem; display: inline-block">
          <div class="card-header">{{name}} - {{format}}</div>
          <div class="card-body text-dark">
            <p class="card-text">
              {{#if words}}
                <strong>Word Count:</strong> {{words}}
              {{/if}}
              
              {{#if size}}
                <strong>Size:</strong> {{size}}
              {{/if}}

              {{#if pageCount}}
                <strong>Pages:</strong> {{pageCount}}
              {{/if}}

              <strong>Price:</strong> ${{price}} USD
            </p>
          </div>
        </div>
      {{/each}}
    </div>

    <p>{{synopsis}}</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12">
    <h3>Detalles del producto</h3>
    <p><strong>Idioma:</strong> {{language}}</p>
    <p><strong>ISBN:</strong> {{isbn}}</p>
    <p><strong>Genre:</strong> {{genre}}</p>
    <p><strong>SKU:</strong> {{_id}}</p>
    <p><strong>Año de lanzamiento:</strong> {{releaseYear}}</p>

    <form action="/books/{{_id}}" method="POST">
      <button type="sub" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
{{/with}}
