<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/magazines" class="list-group-item list-group-item-action active">
        All
      </a>
      {{#each genres}}
        <a href="/magazines/?genre={{this.genre}}" class="list-group-item list-group-item-action">
          {{this.genre}}
        </a>
      {{/each}}
    </div>
  </div>

  <div class="col-9">
    <div class="card-columns">
      {{#each magazines}}
        {{> magitem this}}
      {{/each}}
    </div>
  </div>
</div>
